#root {
  max-width: 1280px;
}

*,
*::before,
*::after{
    box-sizing: inherit;
}

a {
  text-decoration: none;
  transition-duration: 100ms;
  transition-timing-function: linear;
}

a:hover {
  color:lightslategrey
}

body {
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.2;
}

button {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

input {
  padding: 0;
  border: none;
  background-color: transparent;
  outline: none;
  color: rgba(255, 255, 255, 0.87);
  font-weight: 700;
}

ul {
  list-style: none;
}

li {
  list-style: none;
}